.bg{
    /* background-color: rgb(64, 161, 209); */
    background-color: rgb(77, 191, 247);
}
.form-control{
    background-color: rgb(77, 191, 247);
    border:none;
    border-bottom: 1px solid #173650;
    padding: 5px 10px;
    outline: none;
    
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }
 .form-select{
    background-color: rgb(77, 191, 247);
    border:none;
    border-bottom: 1px solid #173650;
    padding: 5px 10px;
    outline: none;
   
    
}

 .font{
    font-weight: 0.7rem;
 }

 .form-control:focus {

    background-color:rgb(77, 191, 247) ;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
     rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */

     box-shadow: inset 0px 0px 0px rgb(9, 87, 126), inset -2px -2px 2px rgb(9, 87, 126);
  }
  .form-select:focus {

    background-color:rgb(77, 191, 247) ;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
     rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */

     box-shadow: inset 0px 0px 0px rgb(9, 87, 126), inset -2px -2px 2px rgb(9, 87, 126);
  }

label{
    color: aliceblue;
}
.btn{
    border: none;
    background-color: rgb(77, 191, 247);
    box-shadow: inset 2px 2px 2px rgb(9, 87, 126), inset -2px -2px 2px rgb(9, 87, 126);
}
.btn:focus{
    background-color: rgb(77, 191, 247);
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
     rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */

     box-shadow: inset 2px 2px 2px rgb(9, 87, 126), inset -2px -2px 2px rgb(9, 87, 126);
}
.btn:hover{
    border: none;
    background-color: rgb(77, 191, 247);
}