{%extends 'app/rule.html'%}

{%block content%}
{%block heading%}Programming Contest Single {%endblock%}

{%block rule1%}Arafath rule {%endblock%}
{%block rule2%}Arafath rule {%endblock%}
{%block rule3%}Arafath rule {%endblock%}
{%block rule4%}Arafath rule {%endblock%}
{%block rule5%}Arafath rule {%endblock%}
{%block rule6%}Arafath rule {%endblock%}
{%block rule7%}Arafath rule {%endblock%}
{%block rule8%}Arafath rule {%endblock%}


{%block link%}
      <div class="col-12 mt-3 mb-3">
        <a class="btn btn-primary btn-sm gap-2 me-2" href="{%url 'about'%}" target="_blank">Accpet</a>
        <a class="btn btn-danger btn-sm" href="{%url 'allcards'%}" target="_blank">Decline</a>
        
    </div>
{%endblock%}

{%endblock%}