
{% extends 'navbar.html'%}
{%load static%}

{%block title%}
Badmintion
{%endblock%}

{%block style%}
<link rel="stylesheet" href="{% static 'styles/all.min.css'%}">
<link rel="stylesheet" href="{% static 'styles/rules.css'%}">
{%endblock%}



{%block content%}


<h1 class="text-center mt-2">{%block heading %} {%endblock%}</h1>
<!-- terms & condition -->
<section
class="container mt-4 background p-5 p-md-2 p-lg-3 pb-lg-3 pb-md-1 pb-sm-2"
style="height: auto"
>
<div class="row">
  <div
    id="rules"
    class="mx-auto border border-light bg-light col-md-10 col-lg-10 mt-50"
  >
    <header class="border-bottom mt-5">
      <h3>
        <i
          class="fa-solid fa-file-signature px-2"
          style="color: rgb(77, 191, 247)"
        ></i
        >Terms & conditions
      </h3>
    </header>
    <select
      class="my-3 py-3 form-select col-8 mx-10 display-6 lh-base"
      size="6"
      style="
        font-size: 0.8rem;
        outline: 0px;
        border: none;
        border-color: none;
        box-shadow: none;
      "
      aria-label="size 3 "
      disabled
    >
      <option selected>View All Rules & Regulations</option>
      <option value="1" class="text-wrap py-2 text-dark">
        <span>1. </span>{%block rule1%} {%endblock%}
      </option>
      <option value="2" class="text-wrap py-2 text-dark">
        <span>2. </span>{%block rule2%} {%endblock%}
      </option>
      <option value="3" class="text-wrap py-2 text-dark">
        <span>3. </span>{%block rule3%} {%endblock%}
      </option>
      <option value="4" class="text-wrap py-2 text-dark">
        <span>4. </span>{%block rule4%} {%endblock%}
      </option>
      <option value="5" class="text-wrap py-2 text-dark">
        <span>5. </span>{%block rule5%} {%endblock%}
      </option>
      <option value="6" class="text-wrap py-2 text-dark">
        <span>6. </span>{%block rule6%} {%endblock%}
      </option>
      <option value="7" class="text-wrap py-2 text-dark">
        <span>7. </span>{%block rule7%} {%endblock%}
      </option>
      <option value="8" class="text-wrap py-2 text-dark">
        <span>8. </span>{%block rule8%} {%endblock%}
      </option>
    </select>
    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="invalidCheck"
          required
        />
        <label class="form-check-label" for="invalidCheck">
          I Agree to all the terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12 mt-3 mb-3">

      <div class="col-12 mt-3 mb-3">
        <a class="btn btn-primary btn-sm gap-2 me-2" href="http://" target="_blank">Accpet</a>
        <a class="btn btn-danger btn-sm" href="login.html" target="_blank">Decline</a>
        
    </div>
  </div>
</div>
</section>
<script src="{%static 'js/all.min.js'%}"></script>


{%endblock%}