{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>rules and regulations</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{%static 'styles/all.min.css'%}" />
    <link rel="stylesheet" href="{%static 'styles/index.css'%}" />
    <link rel="stylesheet" href="{%static 'styles/rules.css'%}" />
  </head>

</style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a href="{%url 'home'%}" class="navbar-brand">Menu</a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        
        </div>
      </div>
    </nav>
        <h1 class="text-center mt-2">Score</h1>
    <!-- terms & condition -->
    <section
      class="container mt-4 background p-5 p-md-2 p-lg-3 pb-lg-3 pb-md-1 pb-sm-2"
      style="height: auto"
    >
      <div class="row">
        <div
          id="rules"
          class="mx-auto border border-light bg-light col-md-10 col-lg-10 mt-50"
        >
          <header class="border-bottom mt-5">

          </header>
          
          {%for t in team%}
          <div>
            {{t.score_desc}}

          </div>
          {%endfor%}
          

        </div>
      </div>
    </section>
    <script src="{%static 'js/all.min.js'%}"></script>

    <footer class="fixed-bottom">
      <p>&copy;Copyright Reserverd by RPSU.</p>
    </footer>
  </body>
</html>

