{%extends 'navbar2.html'%}

{%block content%}
                    <h2 class="text-center mt-2">Rubiks Cube Shedule</h2>
                    <hr>
<div class="text-center mt-4">
    <h3>All Member</h3>
    <table class="table table-success table-hover">
        <thead>
          <tr>
            <th scope="col">SNO</th>
            <th scope="col">Member</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Otto</td>
            <td>Saturday 2PM</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Thornton</td>
            <td>Saturday 2PM</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Thornton</td>
            <td>Saturday 2PM</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Thornton</td>
            <td>Saturday 2PM</td>
          </tr>
        </tbody>
      </table>
</div>




{%endblock%}