{%extends 'navbar2.html'%}

{%block content%}
                    <h1 class="text-center mt-2">Football Shedule</h1>
                    <hr>
<div class="text-center mt-4">
    <h3>Super Eight</h3>
    <table class="table table-success table-hover">
        <thead>
          <tr>
            <th scope="col">Group A</th>
            <th scope="col">Group B</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>Saturday 2PM</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Saturday 2PM</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Saturday 2PM</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Saturday 2PM</td>
          </tr>
        </tbody>
      </table>
</div>


<div class="text-center mt-4">
    <h3>Semi Final</h3>
    <table class="table table-success table-hover">
        <thead>
          <tr>
            <th scope="col">Group A</th>
            <th scope="col">Group B</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>Saturday 2PM</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Saturday 2PM</td>
          </tr>
        </tbody>
      </table>
</div>

<div class="text-center mt-4">
    <h3>Final</h3>
    <table class="table table-success table-hover">
        <thead>
          <tr>
            <th scope="col">Group A</th>
            <th scope="col">Group B</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>Saturday 2PM</td>
          </tr>
        </tbody>
      </table>
</div>



{%endblock%}